

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
}


h1, p {
    color: white;
    text-align: left;
    margin-top: 80px;
    margin-left: 50px;
    padding-top: 10px;
    padding-left: 70px;
    font-family:'gupter';
    font-size: 30px;
    line-height: 0.9em;
    
}
h1 {
    font-size: 70px;
}
    .button {
        background-color:#A455E1;
        border: none;
        color: white;
        padding: 15px 82px ;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 50px;
        
      }
.center 
{
    margin: auto;
    width: 70%;
    padding: 10px;
}